
  <div class="container-fluid">
    <div class="row-fluid">
       <form ng-submit="edit()">
           <table>
              <tr>
                  <td>Nickname:</td><td><input type="text" 
                  ng-model="profileNickname" size="50" ></td>
              <tr>
                  <td>Email :</td><td><input type="text" 
                  ng-model="profileEmail" size="50" ></td>
              <tr>
                  <td>Picture URL:</td><td><input type="text" 
                  ng-model="profilePicUrl" size="100" ></td>
              </tr>
          </table>       
          <div> 
          	  <input class="btn-primary" type="submit" value="save">
          </div>
      </form>
      <div class="row">
      	<p>Player Information </p>
      </div>
      <div class="row">
        <div class="col col-75">
          <table class="table table-bordered">
            <tr>
                <th><span>Player Id</span></th>
                <td> 
                  <span>{{profile.playerId}}</span></td> 
            </tr>
            <tr>
                <th><span>Nickname</span></th>
                <td> 
                  <span>{{profile.nickname}}</span></td>
            </tr>
            <tr>            
                <th><span>Email</span></th> 
                <td> 
                  <span>{{profile.email}}</span></td>                                                            
            </tr>    
            <tr>            
                <th><span>Picture URL</span></th> 
                <td> 
                  <span>{{profile.pictureUrl}}</span></td>                                                            
            </tr>              
          </table>
        </div>
        <div class="col col-offset-10">
        </div>
        <div class="col col-25">
            <img ng-src={{profile.pictureUrl}} class="profile-img"/>
        </div>
      </div>
      <div class="row">
        <button type="button"><a href="#/profile">Back</a></button>
      </div>
    </div>
  </div>
