<div class="container-fluid">
	<div class="row-fluid">
		<h1>{{gamedetail.gameName}}</h1>
		<hr>
		<div class="span8">
			<ul class="games">
				<p>Developed by: <a ng-href="#/user/{{gamedetail.developerId[0]}}">{{gamedetail.developerId[0]}}</a></p><br>
				<p>Height: {{gamedetail.height}}, Width: {{gamedetail.width}}</p><br>
				<p>Posted on: {{gamedetail.postDate}}</p><br>
				<p>Description: {{gamedetail.description}}</p><br>
				<p><a ng-href="{{gamedetail.url}}" target="_blank">Url: {{gamedetail.url}}</a></p><br>
			</ul>
			<hr>
			<!-- <p><span>Mode choose: </span><br> -->
			<button ng-click="">Play AI</button>
			<button ng-click="">Pass and Play</button>
			<button ng-click=""><a ng-href="http://smg-angularjs-container.appspot.com/index.html#/lobby/{{currentGameId}}?playerId={{playerId}}&accessSignature={{accessSignature}}" target="_blank">
				Auto Matched</a></button>
			<a ng-href="#/choosegame"><button ng-click="">Return</button></a>
			<a ng-href="#/history/{{currentGameId}}"><button ng-click="">History</button></a>
			<a ng-href="#/choosegamestats/{{currentGameId}}"><button ng-click="">Game Stats</button></a>
	    </div>    
	</div>
</div>