<div class="container-fluid">
	<div class="row-fluid">
		<h1>{{gamedetail.gameName}}</h1>
		<hr>
		<div class="span8">
			<ul class="games">
				<p>Developed by: {{gamedetail.developerId[0]}}</p><br>
				<p>Height: {{gamedetail.height}}, Width: {{gamedetail.width}}</p><br>
				<p>Posted on: {{gamedetail.postDate}}</p><br>
				<p>Description: {{gamedetail.description}}</p><br>
				<p>Url: {{gamedetail.url}}</p><br>
			</ul>
			<hr>
			<!-- <p><span>Mode choose: </span><br> -->
			<button ng-click="">Play AI</button>
			<button ng-click="">Pass and Play</button>
			<button ng-click=""><a href="http://smg-angularjs-container.appspot.com/index.html#/lobby/{{currentGameId}}?playerId={{playerId}}&accessSignature={{accessSignature}}" target="_blank">
				Auto Matched</a></button>
			<button ng-click=""><a href="#/choosegame">Return</a></button>
			<button ng-click=""><a href="#/history/{{currentGameId}}">History</a></button>
			<button ng-click=""><a href="#/choosegamestats/{{currentGameId}}">Game Stats</a></button></p>
	    </div>    
	</div>
</div>