<div ng-app="ngAnimate" id="help-page">

	<h2 style="margin-left:25px">
		Overview
	</h2>
	<br>
	<div ng-init="checked0=false">
		<strong style="margin-left:25px"><font size="3">Log In / Sign Up</strong></font><input type="checkbox" ng-model="checked0" style="margin-left:10px">
		<div ng-show="checked0" style="margin-left:25px" >
			<br>
			<strong>SMG platform is free for players and developers! </strong><br>
			You may log in with your Google+ account, Facebook account, or SMG account.
			<br>
			Click here to log in: <a href="http://smg-server.appspot.com/login-page/login.html">http://smg-server.appspot.com/login-page/login.html</a>
		</div>
	</div>
	<br>
	<div ng-init="checked1=false">
		<strong style="margin-left:25px"><font size="3">Account Management</strong></font><input type="checkbox" ng-model="checked1" style="margin-left:10px">
		<div ng-show="checked1" style="margin-left:25px" >
			<br>
			<strong>After logging in, </strong>
			you can easily manage your profile and view your play history.<br>
			Invite your friends to share the fun.
			<br>
		</div>
	</div>
	<br>
	<div ng-init="checked2=false">
		<strong style="margin-left:25px"><font size="3">Play History</strong></font><input type="checkbox" ng-model="checked2" style="margin-left:10px">
		<div ng-show="checked2" style="margin-left:25px" >
			<br>
			You can view the full play history in different ways:  
			<ul>
				<li>A summary of all the games you played before;</li>
			 	<li>Every match result in each game played;</li>
				<li>Tokens, highest scores, win/lose/draw results;</li>
				<li>The games you played the most and the best ...</li>
			</ul>
			<strong>If you hope to know more, just tell us. </strong>
			<br>
		</div>
	</div>
	<br>
	<div ng-init="checked3=false">
		<strong style="margin-left:25px"><font size="3">Choose Game</strong></font><input type="checkbox" ng-model="checked3" style="margin-left:10px">
		<div ng-show="checked3" style="margin-left:25px" >
			<br>
			Choose a game <a href="">here</a>! <br>
			You may also pick our recommendations of the <strong>NEWEST</strong> and <strong>HOTTEST</strong> games. <br>
			Choose a game based on your history help you <strong>win more</strong>.<br>
			Feel free to use our sort function to target anything new.
			<br>
		</div>
	</div>
	<br>
	<div ng-init="checked9=false">
		<strong style="margin-left:25px"><font size="3">Leader Board</strong></font><input type="checkbox" ng-model="checked9" style="margin-left:10px">
		<div ng-show="checked9" style="margin-left:25px" >
		</div>
	</div>
	<br>
	<hr/>
	<h2 style="margin-left:25px">
	FAQ
	</h2>
	<br>
	<div ng-init="checked6=false">
		<strong style="margin-left:25px"><font size="3">How to rate a game?</strong></font><input type="checkbox" ng-model="checked6" style="margin-left:10px">
		<div ng-show="checked6" style="margin-left:25px" >
			<br>
			You may rate the games in the game stats page (1.0 ~ 5.0). <br>
			Your feedback may make other players find out their enjoyable games. <br>
			The developers appreciate your feedback to improve the games.
			<br>
		</div>
	</div>	
	<br>
	<div ng-init="checked8=false">
		<strong style="margin-left:25px"><font size="3">How to start play?</strong></font><input type="checkbox" ng-model="checked8" style="margin-left:10px">
		<div ng-show="checked8" style="margin-left:25px" >
			<br>
			After choosing game, press auto-match button. If some player is waiting for an opponent, the match starts.<br>
			You will be added to the waiting list if nobody is available while other players may send request to play with you.
			<br>
		</div>
	</div>
	<br>
	<div ng-init="checked5=false">
		<strong style="margin-left:25px"><font size="3">How to earn more tokens?</strong></font><input type="checkbox" ng-model="checked5" style="margin-left:10px">
		<div ng-show="checked5" style="margin-left:25px" >
			<br>
			Play more, win the bets and you may also purchase the tokens via <strong>Facebook payment</strong>.
			<br>
		</div>
	</div>
	<br>
	<div ng-init="checked4=false">
		<strong style="margin-left:25px"><font size="3">What can I do with tokens?</strong></font><input type="checkbox" ng-model="checked4" style="margin-left:10px">
		<div ng-show="checked4" style="margin-left:25px" >
			<br>
			Every time, you play a game. You may win or lose your tokens. You may use your tokens as your bets.<br> 
			Clearly, your bets may help you attract more players to play with you. 
			<br>
			<strong>More tokens, more chance! </strong>
			<br>
		</div>	
	</div>
	<br>
	<div ng-init="checked10=false">
		<strong style="margin-left:25px"><font size="3">How can I share my achievements?</strong></font><input type="checkbox" ng-model="checked10" style="margin-left:10px">
		<div ng-show="checked10" style="margin-left:25px" >

		</div>	
	</div>	
	<br>
	<div ng-init="checked11=false">
		<strong style="margin-left:25px"><font size="3">What is a badge?</strong></font><input type="checkbox" ng-model="checked11" style="margin-left:10px">
		<div ng-show="checked11" style="margin-left:25px" >

		</div>	
	</div>	
	<br>
	<div ng-init="checked12=false">
		<strong style="margin-left:25px"><font size="3">How can I win a badge?</strong></font><input type="checkbox" ng-model="checked12" style="margin-left:10px">
		<div ng-show="checked12" style="margin-left:25px" >

		</div>	
	</div>		
</div>