<ion-view title="History">
    <ion-content>
        <ion-list>
            <a ng-repeat="history in historySummary" style="margin-top:5px" class="list card">
                <div class="item item-stable item-icon-left item-icon-right "
                     ng-click="toggleHistory(history)"
                     ng-class="{active: isHistoryShown(history)}">
                    <i class="ion-game-controller-b"></i>
                    Game - {{history.gameId}}
                    <i ng-class="isHistoryShown(history) ? 'ion-minus' : 'ion-chevron-down'"></i>
                </div>
                <ion-item class="item-accordion"
                          ng-show="isHistoryShown(history)">
                    <div class="row" style="text-align:center">
                        <div class="col">Win: {{tokenFile.draw}}</div>
                        <div class="col">Lose: {{tokenFile.lost}}</div>
                        <div class="col">Draw: {{tokenFile.draw}}</div>
                    </div>
                    <button class="button button-full button-stable"
                            style="text-align:center"
                            ng-init="collapsed='false'"
                            ng-click="collapsed=!collapsed">
                        Your achievement
                    </button>
                    <ion-item class="item-accordion"
                              ng-show="collapsed">
                        <div class="row" style="text-align:center">
                            <div class="col">Token: {{tokenFile.token}}</div>
                            <div class="col">Rank: {{tokenFile.rank}}</div>
                        </div>
                        <div style="text-align:center">Highest Score: {{tokenFile.score}}</div>
                    </ion-item>
                    <button class="button button-full button-stable"
                            style="text-align:center"
                            ng-init="collapse='false'"
                            ng-click="collapse=!collapse">
                        Lastest Match
                    </button>
                    <ion-item class="item-accordion"
                              ng-show="collapse">
                        <h2>Your opponent(s):</h2>
                        <div ng-repeat="opp in lastmatch.opponentIds">{{opp}}</div>
                        <br />
                        <h2>Game Result:</h2>
                        <div>{{lastmatch.result}}</div>
                    </ion-item>
                    <span href="#/history/{{history.gameId}}">
                        <button class="button button-full button-stable"
                                style="text-align:center">
                            Results
                        </button>
                    </span>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>