<ion-view>
    <ion-content>
        <ion-list>
            <div ng-repeat="history in historySummary">
                <ion-item class="item-stable"
                          style="text-align:center"
                          item="history"
                          ng-click="toggleGroup(history)"
                          ng-class="{active: isGroupShown(history)}">
                    <i class="icon" ng-class="isGroupShown(history) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Game - {{history.gameId}}
                </ion-item>
                <ion-item class="item-accordion"
                          ng-show="isGroupShown(history)">
                    <div class="row">
                        <div class="col">Token</div>
                        <div class="col">Score</div>
                        <div class="col">Rank</div>
                    </div>
                    <div class="row">
                        <div class="col">Win</div>
                        <div class="col">Lose</div>
                        <div class="col">Draw</div>
                    </div>
                    <div class="row">
                        <div class="col">Highest Score</div>
                        <div class="col">Latest Match</div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    </ion-vie
