<div class="container-fluid">
  <div class="row-fluid">
      <table class="table table-bordered">
        <tr>
        	<th><span>Game</span></th>
        	<th><span>Win</span></th>
        	<th><span>Lose</span></th>
        	<th><span>Tie</span></th>                                    
        	<th><span>Rank</span></th>
        	<th><span>Score</span></th>
        	<th><span>Token</span></th>          
        </tr>
        <tr ng-repeat = "(key, history) in historySummary">
            <td> 
              <span>{{key}}</span>
            </td> 
            <td> 
              <span>{{history.win}}</span></td>
            <td> 
              <span>{{history.lost}}</span></td>
            <td> 
              <span>{{history.draw}}</span></td>      
            <td>
              <span>{{history.RANK}}</span></td> 
            <td>
              <span>{{history.score}}</span></td>
            <td>
              <span>{{history.token}}</span></td>
        </tr>
      </table>
      <div class="row">
        <a href="/profile">My Profile</a>
      </div>
      <div class="row">
        <a href="/choosegame">Choose Game</a>
      </div>
      <div class="row">
        <a href="/inquiry">Go to Inquiry Page</a>
      </div>
  </div>
</div>
