
<div class="container-fluid">
  <div class="row-fluid">

    <h1>{{gamedetail.gameName}} Play History</h1>
    <div class="row">
      <div class="col col-offset-10"></div>
      <div class="col col-10">Tokens: {{infoProfile.token}}</div>    
      <div class="col col-10">Score: {{infoProfile.score}}</div>   
      <div class="col col-10">Win: {{infoProfile.win}}</div>
      <div class="col col-10">Lose: {{infoProfile.lost}}</div>    
      <div class="col col-10">Draw: {{infoProfile.draw}} </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <th><span>Date</span></th>
            <th><span>Result</span></th>
            <th><span>Token</span></th>
            <th><span>Score</span></th>    
            <th><span>Opponent Id</span></th>                                          
        </tr>
        <tr ng-repeat = "history in histories">
            <td> 
              <span>{{history.date}}</span></td> 
            <td> 
              <span>{{history.result}}</span></td>
            <td> 
              <span>{{history.tokenChange}}</span></td>
            <td> 
              <span>{{history.score}}</span></td>      
            <td>
              <span ng-repeat = "opponentId in history.opponentIds">{{opponentId}}  </span>
            </td>
        </tr>
    </table>
    <div class="row">
      	<a href="#/choosegamedetail/{{currentGameId}}"><button type="button">Play Again</button></a>
    </div>
  </div>
</div>