
  <div class="container-fluid">
    <div class="row-fluid">
      <h3>Welcome Back - Player Log In</h3>
      <form ng-submit="login()">
          <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="text" ng-model="logPlayerId" size="50">
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Password" ng-model="logPassword" size="50">
          </div>   
          <div> 
          	  <input type="submit" value="Log In">
          </div>
      </form>
      <div class="row"><a href="/signup">I'm new here</a></div>
    </div>
  </div>  
