<div class="container-fluid">
    <div class="row-fluid">
        <div class="row">
            <h1>Opponent's info. page </h1>
        </div>

        <div class="row">
            <div class="col col-75">
                <table class="table table-bordered">
                    <tr>
                        <th><span>Player Id</span></th>
                        <td>
                            <span>{{profile.playerId}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span>First Name</span></th>
                        <td>
                            <span>{{profile.firstname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span>Last Name</span></th>
                        <td>
                            <span>{{profile.lastname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span>Nickname</span></th>
                        <td>
                            <span>{{profile.nickname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><span>Email</span></th>
                        <td>
                            <span>{{profile.email}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-offset-10">
            </div>
            <div class="col col-25">
                <img class="profile-img" />
            </div>
        </div>
        <hr />
        <h3>{{gamedetail.gameName}} Play History</h3>
        <div class="row">
            <div class="col col-offset-10"></div>
            <div class="col col-10">Tokens: {{infoProfile.token}}</div>
            <div class="col col-10">Score: {{infoProfile.score}}</div>
            <div class="col col-10">Win: {{infoProfile.win}}</div>
            <div class="col col-10">Lose: {{infoProfile.lost}}</div>
            <div class="col col-10">Draw: {{infoProfile.draw}} </div>
        </div>
        <table ng-controller="HistoryDetailCtrl" class="table table-bordered">
            <tr>
                <th><span>Date</span></th>
                <th><span>Result</span></th>
                <th><span>Token</span></th>
                <th><span>Score</span></th>
                <th><span>Opponent Id</span></th>
            </tr>
            <tr ng-repeat="history in histories">
                <td>
                    <span>{{history.date}}</span>
                </td>
                <td>
                    <span>{{history.result}}</span>
                </td>
                <td>
                    <span>{{history.tokenChange}}</span>
                </td>
                <td>
                    <span>{{history.score}}</span>
                </td>
                <td>
                    <span ng-repeat="opponentId in history.opponentIds">{{opponentId}}  </span>
                </td>
            </tr>
        </table>
    </div>
</div>
