  <div class="container-fluid">
    <div class="row-fluid">
      <div class="row">
      	<h3>My Information </h3>
      </div>
      <div class="row">
        <div class="col col-75">
          <table class="table table-bordered">
            <tr>
                <th><span>Player Id</span></th>
                <td> 
                  <span>{{profile.playerId}}</span></td> 
            </tr>
            <tr>
                <th><span>First Name</span></th>
                <td> 
                  <span>{{profile.firstname}}</span></td>
            </tr>
            <tr>
                <th><span>Last Name</span></th>
                <td> 
                  <span>{{profile.lastname}}</span></td>
            </tr>                        
            <tr>
                <th><span>Nickname</span></th>
                <td> 
                  <span>{{profile.nickname}}</span></td>
            </tr>
            <tr>            
                <th><span>Email</span></th> 
                <td> 
                  <span>{{profile.email}}</span></td>                                                            
            </tr>                                
          </table>
        </div>
        <div class="col col-offset-10">
        </div>
        <div class="col col-25">
            <img ng-src={{profile.pictureUrl}} class="profile-img"/>
        </div>
      </div>
      <div class="row">
        <a href="/editprofile">Edit</a>
      </div>      
      <!--<div class="row">
        <a href="/history">My History</a>
      </div> -->
      <div class="row">
        <a href="/choosegame">Choose Game</a>
      </div> 
      <div class="row">
        <button type=button ng-click='delete()'>Delete My Account</button>
        <button type=button ng-click='logout()'>Log Out</button>
      </div>       
    </div>     
  </div>   
