<div class="container-fluid">
	<div class="row-fluid">
		<h1>{{game.name}}</h1>
		<p>{{game.description}}</p>
		<br><br><br>
		<div>
			<img ng-src="{{game.images[0]}}" class="thumb">
			<img ng-src="{{game.images[1]}}" class="thumb">
			<img ng-src="{{game.images[2]}}" class="thumb">
	    </div>
		<br><br><br><br><br><br><br><br><br><br><br>
		<div>
			<span>Mode Choose</span><br>
			<button ng-click="">Play AI</button>
			<button ng-click="">Pass and Play</button>
			<button ng-click="">Auto Matched</button>
			<button ng-click=""><a href="#/choosegame">Return</a></button>
			<button ng-click=""><a href="#/history/{{game.id}}">History</a></button>
		</div>
	</div>
</div>