/* app css stylesheet */

/* ionic css */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%; }

.row + .row {
  margin-top: -5px;
  padding-top: 0; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  padding: 5px;
  width: 100%; }

/* Column Offsets */
.col-offset-10 {
  margin-left: 10%; }

.col-offset-20 {
  margin-left: 20%; }

.col-offset-25 {
  margin-left: 25%; }

.col-offset-33, .col-offset-34 {
  margin-left: 33.3333%; }

.col-offset-50 {
  margin-left: 50%; }

.col-offset-66, .col-offset-67 {
  margin-left: 66.6666%; }

.col-offset-75 {
  margin-left: 75%; }

.col-offset-80 {
  margin-left: 80%; }

.col-offset-90 {
  margin-left: 90%; }

/* Explicit Column Percent Sizes */
/* By default each grid column will evenly distribute */
/* across the grid. However, you can specify individual */
/* columns to take up a certain size of the available area */
.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; }

.col-20 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-33, .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-66, .col-67 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 66.6666%;
  -ms-flex: 0 0 66.6666%;
  flex: 0 0 66.6666%;
  max-width: 66.6666%; }

.col-75 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-80 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

.col-90 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%; }

/* angularJS tutorial css */
body {
  padding-top: 20px;
}

.games {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.games li {
  clear: both;
  height: 110px;
  padding-top: 15px;
}

/** Detail View **/
img.game {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.game-thumbs {
  margin: 0;
  list-style: none;
}

ul.game-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.game-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

 
/* Guo, Wen css */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

body {
    font-size: 1.2em;
}

#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 5px;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}

.narrow {
    height: 30px;
    line-height: 20px;
}

.hide {
    display: none;
}

.id-group {
    margin-right: 5px;
}

/* customized css */

/*body .history-detail-page {
  font-family: Glyphicons Halflings;
}*/

.history-detail-page .head {
  padding-bottom: 15px;
}

.head h1 {
  border-bottom: 0px;
  margin-top: 5px;
  margin-left: 20px;
}

.history-detail-page .head h3 {
  border-bottom: 0px;
  margin-top: 5px;
  margin-left: 20px;
}

.badge-row {
  height: 60px;
}

.head .badge-container {
  padding-top: 10px;
  padding-left: 5px;
}

.head .badge-container img.badge-img {
  max-height: 50px;
  margin-right: 10px;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
}

.glyphicon {
  margin-right: 10px;
}

.token-summary {
  font-size: 14px;
}

.match-tr:hover {
  background-color: whitesmoke;
}

.table-bordered > tbody > tr > th{
  border: 0px;
  font-size: 14px;
}

.table-bordered > thead > tr > th{
  border: 0px;
  font-size: 14px;
}

.table-bordered > tbody > tr > td{
  border: 0px;
}

.history-detail-page th {
  text-align: center;
}

.match-table {
  text-align: center;
}

.token-word {
  position: relative;
  top: -50px;
  z-index: 2;
  background: whitesmoke;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  opacity: 0.8;
  font-weight: bold;
}

.tab-button {
  font-size: 14px;
  text-align: center;
}

.tab-button:hover {
  background-color: whitesmoke;
}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 150px; 
}

.col-50m {
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; 
}

input {
  border-radius: 3px;
  padding-left: 3px;
  width: 200px;
}

select {
  border-radius: 3px;
  width: 200px;
}

#sidebar-wrapper * {
  font-size: 14px;
}

#sidebar-wrapper {
  left: 300px;
  width: 300px;
}

.game-list-container {
  padding-left: 100px;
}

.example-animate-container {
  border: 0px;
  margin-left: -19px;
}

.game-recommend-img {
  margin-right: 20px;
}

/*.game-recommend-img img {
  max-width: 100px;
  max-height: 100px;
}*/

.game-recommend-row {
  width: 640px;
}

center {
  word-break: break-all;
  max-width: 120px;
}

.recommend-img {
  height: 40px;
  margin-right: 15px;
}

.history-list-tb th, .history-list-tb td {
  text-align: center;
  margin-left: 0px;
}

button.clear-button {
  background-color: transparent;
  border: none;
  text-shadow: none;
  max-width: 30px;
  margin-left: 5px;
}

.glyphicon-sort {
  color: #428bca;
}

.profile-info {
  padding-left: 40px;
}

.profile-btn {
  padding-left: 25px;
}

.profile-img {
  margin-top: 40px;
  padding-right: 0px;
}

.profile-img img {
  margin: 20px 0px 20px 20px; 
  height: 180px;
}

.history-head-icon {
  position: relative;
  top: 4px;
  margin-left: 20px;
}

.history-list-page {
  padding-left: 0px;
  padding-right: 0px;
}