.pagetitle {
    font-style: oblique;
    text-align: center;
    font-size: 50px;
    margin: 40px;
    border: hidden;
}
.image {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
}
.circular {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.name {
}

.title {
    text-align:center;
    font-size: 13px;
    font-style: oblique;
}
.content {
    margin: 0;
    text-align:center;
    font-size:15px;
    border:2px solid;
    margin:3px;
    margin-bottom: 20px;
}