<!doctype html>
<html lang="en" ng-app="profileApp">
  <head>
    <meta charset="utf-8">
    <title>Play History</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/ionic.css">
    <link rel="stylesheet" href="css/ionic.min.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>
     <div ng-controller="ProfileCtrl" class="container-fluid">
       <form ng-submit="edit()">
           <table>
              <tr>
                  <td>Nickname:</td><td><input type="text" 
                  ng-model="profileNickname" size="50" ></td>
              <tr>
                  <td>Email :</td><td><input type="text" 
                  ng-model="profileEmail" size="50" ></td>
              <tr>
                  <td>Picture URL:</td><td><input type="text" 
                  ng-model="profilePicUrl" size="100" ></td>
              </tr>
          </table>       
          <div> 
          	  <input class="btn-primary" type="submit" value="save">
          </div>
      </form>
      <div class="row">
      	<p>Player Information </p>
      </div>
      <div class="row">
        <div class="col col-75">
          <table class="table table-bordered">
            <tr>
                <th><span>Player Id</span></th>
                <td> 
                  <span>{{profile.playerId}}</span></td> 
            </tr>
            <tr>
                <th><span>Nickname</span></th>
                <td> 
                  <span>{{profile.nickname}}</span></td>
            </tr>
            <tr>            
                <th><span>Email</span></th> 
                <td> 
                  <span>{{profile.email}}</span></td>                                                            
            </tr>    
            <tr>            
                <th><span>Picture URL</span></th> 
                <td> 
                  <span>{{profile.pictureUrl}}</span></td>                                                            
            </tr>              
          </table>
        </div>
        <div class="col col-offset-10">
        </div>
        <div class="col col-25">
            <img ng-src={{profile.pictureUrl}} class="profile-img"/>
        </div>
      </div>
    </div>
  </body>
</html>