
  <div class="container-fluid">
    <div class="row-fluid">
    <h3><i class="fa fa-edit"></i> Edit Your Profile</h3>
    <form class="form-signin" name="registerForm" ng-submit="edit()">
    <div class="input-group email">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <input type="email" class="form-control email" placeholder="E-Mail" name="email" ng-model="suEmail" ng-required="false">
      <div class="errors" ng-class="{ active:registerForm.email.$invalid && registerForm.email.$dirty}">
        <div class="error ng-hide" ng-show="registerForm.email.$error.email">
          <p>E-Mail seems invalid! </p>
                 </div>
            </div>
        </div>
      <div class="input-group password">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="text" class="form-control password" placeholder="Password" name="password" ng-model="suPassword" ng-minlength="4" ng-maxlength="16" ng-required="false">
            <div class="errors" ng-class="{active: registerForm.password.$invalid && registerForm.password.$dirty}">
              <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
                  <p>Password is too short! Minimal nickname length is 4.</p>
                </div>
                <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
                  <p>Max password length is 16, please shorten it.</p>
                </div>
            </div>
      </div>
        <div class="input-group first-name">
          <span class="input-group-addon"><i class="fa fa-hand-o-right fa-fw"></i></span>
          <input type="text" class="form-control first-name" placeholder="First Name" name="first-name" ng-model="suFirstname" size="50">
        </div>
        <div class="input-group last-name">
          <span class="input-group-addon"><i class="fa fa-hand-o-right fa-fw"></i></span>
          <input type="text" class="form-control last-name" placeholder="Last Name" name="last-name" ng-model="suLastname" size="50">
        </div>
        <div class="input-group nickName">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Nick Name" name="nickname" ng-model="suNickname" autofocus="true" ng-minlength="4" ng-maxlength="32" ng-required="false">
            <div class="errors" ng-class="{active: registerForm.nickname.$invalid && registerForm.nickname.$dirty}">
              <div class="error ng-hide" ng-show="registerForm.nickname.$error.minlength">
                  <p>Nick-name is too short! Minimal nickname length is 4.</p>
                </div>
            <div class="error ng-hide" ng-show="registerForm.nickname.$error.maxlength">
                <p>Max nickname length is 32, please shorten it.</p>
                </div>
          </div>
      </div>
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-camera"></i></span>
          <input type="text" class="form-control profilePicUrl" placeholder="Add your photo(Url)" name="profilePicUrl" ng-model="profilePicUrl" size="100">
        </div>
        <hr />
      <div>
        <input type="submit" value="Save">
      </div>
  </form>
    </div>
  </div>