<ion-view title="ion-stats-bars">
	<ion-content>
		<ion-list>
		    <div class="highscore no-margin">
				<h4 class="no-margin">{{'gamestatHIGHESTSCORE'|translate}}</h4>
				<h5 class="no-margin">{{highScorePlayer}} - {{highScoreScore}}</h5>
			</div>
			<div class="currentgame no-margin">
				<h4 class="no-margin">{{'gamestatCURRENTMATCHES'|translate}}</h4>				
				<a ng-repeat="cgame in currentGames">
					<p>{{cgame.players[0].firstName}} VS {{cgame.players[1].firstName}}</p>
				</a>			
			</div>
			<div class="finishedgame no-margin">
				<h4 class="no-margin">{{'gamestatFINISHEDMATCHES'|translate}}</h4>
				<a ng-repeat="fgame in finishedGames">
					<p>{{fgame.players[0].firstName}} VS {{fgame.players[1].firstName}}</p>
				</a>
			</div>
			<div class="ratecss no-margin">
				<h4 class="no-margin">{{'gamestatRATE'|translate}}</h4>
				<p>{{'gamestatRateyougive'|translate}}: {{rating}}</p>
				<p>{{'gamestatAverageratingofthegame'|translate}}: {{aveRating}}</p><br>
				<form ng-submit="rate()">
					<div class="row">
						<input style="margin-top:-20px; width: 100px; height: 36px" type="text" ng-model="rating" >
						<input style="margin-left:15px; margin-top:-20px; width: 100px; height: 36px" 
						class="button button-small button-dark" type="submit" value={{'gamestatraterate'|translate}}>
					</div>
					<a>&nbsp&nbsp(1.0 - 5.0)<br><br></a>
				</form>
			</div>
		</ion-list>
	</ion-content>
</ion-view>


