<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      Search: <input ng-model="query"><br>
      Sort by:
      <select ng-model="orderProp">
        <option value="gameName">Name</option>
        <option value="Developer">Developer</option>
        <option value="postDate">Post Date</option>
        <option value="rate">Rate</option>
      </select>
      <div class="row">
        <a href="/profile">My Profile</a>
      </div>
      <div class="row">
        <a href="/history">My History</a>
      </div>
    </div>
    <div class="span8">
      <ul class="games">
        <li ng-repeat="game in games | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="/choosegame/{{game.gameName}}">{{game.gameName}}</a>
          <p>Description: {{game.description}}, Url: {{game.url}}, Width: {{game.width}}, Height: {{game.height}}</p>
          <p>Developed by: {{game.Developer[0].firstName}}, Post on: {{game.postDate}}, Version: {{game.version}}, Rate: {{game.rate}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>