
  <div class="container-fluid">
    <div class="row-fluid">
      <h3>Welcome Back - Player Log In</h3>
      <form ng-submit="login()">
          <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              <input class="form-control" type="text" placeholder="Player Id" ng-model="logPlayerId" size="50" ng-required="true">
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="password" placeholder="Password" ng-model="logPassword" size="50" ng-required="true">
          </div>  
          <hr> 
          <div> 
          	  <input type="submit" value="Log In">
          </div>
      </form>
      <div class="row"><a href="#/signup">I'm new here</a></div><br>
      <div class="row">Test PlayerId: 5097900694568960</div>
      <div class="row">Test Password: 07050202</div>
    </div>
  </div>  
